

#root > .main-body > .admin{
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-left: 80px;
  min-width: 1080px;

  .admin-header{
    width: 100%;
    position: fixed;
    height: 50px;
    line-height: 50px;
    background-color: #05121e;
    top: 0;
    left: 0;
    padding-right: 0;
    right: 0;
    color: #fff;
    display: flex;
    overflow: hidden;
    z-index: 12;
    background-position: center;
    background-repeat: no-repeat;
  }
  .admin-menu-root{
    width: 80px;
    min-width: 80px;
    height: 100%;
    background-color: #001529;
    padding: 20px 0 43px;
    z-index: 9;
    position: fixed;
    top: 43px;
    left: -1px;
    display: flex;
    flex-direction: column;
  }

  .admin-center-page{
    flex: 1;
    overflow: hidden;
  }
}
